/*	****************************************
	Base
	**************************************** */

body {
	color: #0068b6;
	font-family: "Gentium Book Basic", serif;
}

h1, h1 > a {
	text-transform: uppercase;
	font-family: "Britannic Bold", sans-serif;
	margin-top: 0;
	margin-left: 7.5px;
	letter-spacing: .08em;
	text-shadow: 2px 4px 3px rgba(0,104,182,0.9), 2px 4px 3px rgba(0,104,182,0.9);
}

h2 {
	font-family: "Britannic D Ultra", sans-serif;
	font-size: 34px;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
	letter-spacing: .08em;
	text-transform: uppercase;
}

h3 {
	color: #c90000;
	font-family: "Britannic Medium", sans-serif;
	font-size: 30px;
}

h4, h4 > a {
	color: #fc7104;
	font-size: 29px;
	margin-top: 6px;
}

p, li {
	margin-top: 0;
	font-size: 19px;
}

ul, ol {
	padding-left: 20px;
}

a {
	font-size: 18px;
	font-family: "Gentium Book Basic", serif;
}

a:focus {
	color: rgba(255,255,255,1);
	text-decoration: none;
}

a:hover {
	color: rgba(255,255,255,0.6);
	text-decoration: none;
}

h4 > a:focus {
	color: #fc7104;
	text-decoration: none;
}

h4 > a:hover {
	color: #fc7104;
	text-decoration: underline;
}

section {
	height: calc(100vh + 14px);
	position: relative;
	z-index: 1;
	overflow: hidden;
	max-height: 720px;
	min-height: 420px;
	padding: 0;
}

footer {
	padding-top: 15px;
	background-size: cover;
	background: url("../images/homepage_main.png") no-repeat center top;
}

@media only screen and (min-width: 768px) {

	h1 {
		margin-left: 0px;
	}

	h2 {
		padding-top: 15px;
		font-size: 40px;
	}

	h3 {
		font-size: 36px;
	}

	h4, h4 > a {
		font-size: 35px;
		margin-top: 7px;
	}

	p, li {
		font-size: 20px;
	}

	ul, ol {
		padding-left: 21px;
	}

	section {
		height: calc(100vh);
		max-height: 960px;
		min-height: 640px;
	}

}

@media only screen and (min-width: 992px) {

	h2 {
		padding-top: 20px;
		font-size: 44px;
	}

	h3 {
		font-size: 40px;
	}

	h4, h4 > a {
		font-size: 39px;
		margin-top: 8px;
	}

	p, li {
		font-size: 21px;
	}

	ul, ol {
		padding-left: 22px;
	}

	section {
		max-height: 100%;
		min-height: 642px;
	}

}


/*	****************************************
	Modules
	**************************************** */

.container {
	margin: 0 auto;
	max-width: 960px;
}

.gallery {
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 100%;
}

.gallery-slide-wrapper {
	height: 100%;
}

.gallery-item {
	display: block;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.gallery-item-content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: auto;
	width: auto;
	z-index: 1000;
	text-align: center;
}

.has-center-content {
	height: 60%;
	width: 100%;
	padding-top: 58px;
	box-sizing: border-box;
	display: table;
	position: absolute;
}

.center-content {
	display: table-cell;
	vertical-align: middle;
}

.center-content-container {
	margin: 0 auto;
	width: 95%;
	max-width: 570px;
}

.white-overlay {
	background: rgba(255,255,255,0.9);
	border-radius: 15px;
}

.overlay-content-container {
	height: calc(100vh + 14px - 85px);
	max-height: 720px;
	min-height: calc(420px - 85px);
	margin-top: 70px;
}

.overlay-content-container > h2 {
	padding-top: 15px;
	padding-bottom: 10px;
}

.overlay-content {
	border: 0px solid transparent;
	border-right-width: 15px;
	border-left-width: 15px;
	overflow-y: auto;
	height: calc(100vh + 14px - 153px - 15px);
	max-height: 720px;
	min-height: calc(420px - 153px - 15px);
	margin-top: 0;
}

.overlay-card-content {
	height: calc(100vh + 14px - 122.5px - 15px);
	max-height: 720px;
	min-height: calc(420px - 122.5px - 15px);
	margin: 0 auto;
	overflow-y: auto;
}

.facts {
	display: block;
}

.facts-img > img {
	width: 100%;
	max-width: 150px;
	height: auto;
	margin-top: 15px;
}

.facts-text > h3, .facts-text > p {
	text-align: left;
}

.facts:nth-of-type(1) img {
	margin-top: 0px;
}

.colophon {
	background: rgba(255,255,255,0.9);
	padding: 35px 15px;
	width: 236px;
	border-radius: 15px;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
	height: 385px;
}

.colophon:nth-of-type(1) {
	margin-bottom: 20px;
}

.colophon:nth-of-type(2) {
	margin-bottom: 2px;
}

.gallery-image {
	position: absolute;
	z-index: 1;
}

.background-cover {
	text-align: center;
	color: white;
}

.gallery-image-doraemon {
    background: url("../images/homepage_main.png") no-repeat scroll top center;
}

.overview-headline {
	margin-top: 6px;
	margin-bottom: 0;
	line-height: 1;
	letter-spacing: 0em;
}

#overview {
	background-size: cover;
	background: url("../images/homepage_main.png") no-repeat center top;
}

#facts {
	background-size: cover;
	background: url("../images/facts.jpg") no-repeat center top;
}

#colophon {
	background-size: cover;
	background: url("../images/colophon.jpg") no-repeat center top;
}

#colophon h2 {
	color: #fff;
	text-shadow: 2px 4px 3px rgba(40,40,40,0.9), 2px 4px 3px rgba(40,40,40,0.9);
	padding-top: 0;
}

#colophon img {
	border-radius: 50%;
	width: 150px;
	height: auto;
}

.navbar-inverse {
	background: linear-gradient(rgba(94,179,227,0.95), rgba(22,122,193,0.95));
	border-color: #c90000;
	border-bottom-width: 3px;
}

.navbar-inverse .navbar-toggle {
	border: none;
	margin-right: 5px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: transparent;
	box-shadow: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
	box-shadow: 2px 4px 3px rgba(0,104,182,0.9), 2px 4px 3px rgba(0,104,182,0.9);
}

.navbar-inverse .navbar-toggle:focus .icon-bar {
	background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
	background-color: rgb(252,246,0);
}

.navbar-inverse .navbar-brand {
	padding: 0px;
	display: flex;
	align-items: center;
	margin-bottom: 0;
	color: #fff;
	font-size: 26px;
}

.navbar-inverse .navbar-brand:focus {
	color: rgba(255,255,255,1);
}

.navbar-inverse .navbar-brand:hover {
	color: rgb(252,246,0);
	text-shadow: 2px 4px 3px rgba(0,104,182,0.9), 2px 4px 3px rgba(0,104,182,0.9);
}

.navbar-inverse .navbar-brand > img {
	height: 45px;
	width: 119px;
	margin-left: 15px;
	padding: 5px 10px 5px 0;
}

.navbar-inverse .navbar-brand:focus > img {
	opacity: 1;
}

.navbar-inverse .navbar-brand:hover > img {
	opacity: 0.6;
}

.navbar-inverse .navbar-nav > li > a  {
	color: #fff;
	text-shadow: 2px 4px 3px rgba(0,104,182,0.9), 2px 4px 3px rgba(0,104,182,0.9);
	text-align: right;
	padding-right: 16px;
	font-size: 24px;
	font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: rgb(252,246,0);
}

.navbar-inverse div.navbar-collapse {
	border-top: none;
	box-shadow: none;
}

.navbar-inverse .navbar-nav {
	margin-top: 0;
}

@media only screen and (min-width: 768px) {

	.has-center-content {
		height: 46%;
	}

	.center-content-container {
		width: 100%;
		max-width: initial;
		width: 700px;
	}

	.overlay-content-container {
		height: calc(100vh - 86.5px);
		max-height: 960px;
		min-height: calc(640px - 86.5px);
	}

	.overlay-content-container > h2 {
		padding-top: 20px;
		padding-bottom: 12.5px;
	}

	.overlay-content {
		border-left-width: 27.5px;
		border-right-width: 27.5px;
		height: calc(100vh - 168.5px - 17.5px);
		max-height: 960px;
		min-height: calc(640px - 168.5px - 17.5px);
	}

	.overlay-card-content {
		height: calc(100vh - 130.5px - 17.5px);
		max-height: 960px;
		min-height: calc(640px - 130.5px - 17.5px);
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 710px;
	}

	.facts {
		display: flex;
	}

	.facts-img > img {
		max-width: 175px;
		margin-top: 25px;
	}

	.facts-text {
		padding-left: 25px;
	}

	.facts:nth-of-type(1) h3 {
		margin-top: 0px;
	}

	.facts:nth-of-type(1) img {
		margin-top: 7.5px;
	}

	.colophon {
		padding: 40px 15px;
		width: 325px;
		margin-top: 4px;
		margin-left: initial;
		margin-right: initial;
		height: 430px;
	}

	.colophon:nth-of-type(n) {
		margin-bottom: 0;
	}

	.colophon-text {
		margin: 0 30px;
	}

	.overview-headline {
		margin-top: 7px;
	}

	#colophon img {
		width: 175px;
	}

	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}

}

@media only screen and (min-width: 992px) {

	.has-center-content {
		height: 45%;
		padding-top: 54px;
	}

	.center-content-container {
		width: 760px;
	}

	.overlay-content-container {
		max-height: calc(100vh - 88px);
		min-height: calc(642px - 88px);
	}

	.overlay-content-container > h2 {
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.overlay-content {
		border-left-width: 30px;
		border-right-width: 30px;
		max-height: calc(100vh - 182px - 20px);
		min-height: calc(642px - 182px - 20px);
	}

	.overlay-card-content {
		max-height: calc(100vh - 136.5px - 20px);
		min-height: calc(642px - 136.5px - 20px);
		margin: 0 auto;
		max-width: 780px;
	}

	.facts-img > img {
		max-width: 200px;
		margin-top: 25px;
	}

	.facts-text {
		padding-left: 30px;
	}

	.facts:nth-of-type(1) h3 {
		margin-top: 0px;
	}

	.facts:nth-of-type(1) img {
		margin-top: 7.5px;
	}

	.colophon {
		padding: 45px 15px;
		width: 350px;
		margin-top: 5px;
		height: 474px;
	}

	#colophon img {
		width: 200px;
	}

}


/*	****************************************
	State
	**************************************** */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
	background: none;
	color: rgb(252,246,0);
	text-shadow: 2px 4px 3px rgba(0,104,182,0.9), 2px 4px 3px rgba(0,104,182,0.9);
	pointer-events: none;
}